<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="../static/icons8-text-16.png" type="image/x-icon" />
    <title>Text Summarization</title>
  </head>
  <body>
    <div class="top-banner">
      <div class="title">Text Summarization</div>
    </div>
    <div class="container">
      <form action="/res" method="POST">
        <div class="url">
          <label for="url" id="url-label">Enter Website Link</label><br />
          <input
            id="url"
            type="url"
            name="url"
            class="neon url-tag"
            placeholder="URL"
          />
        </div>
        <div class="text">
          <div class="input-text">
            <label for="input" class="input-label">Enter Text</label><br />
            <textarea name="input" id="input" class="neon textarea">
              {{input_data}}
            </textarea>
          </div>
          <div class="output-text">
            <label for="output" class="output-label">Summary</label><br />
            <textarea name="output" id="output" class="neon textarea">
            {{output_data}}</textarea
            >
          </div>
        </div>
        <div class="submit">
          <input type="submit" value="SUBMIT" class="neon button submit" />
        </div>
      </form>
    </div>
    <script
      src="https://kit.fontawesome.com/8fe1453288.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
