<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="../static/icons8-text-16.png" type="image/x-icon" />
    <title>Text Summarization</title>
  </head>
  <body>
    <div class="top-banner">
      <div class="title">Text Summarization</div>
    </div>
    <div class="container">
      <form action="/res" method="POST">
        <div class="url">
          <i class="fa-solid fa-link"></i>
          <input
            type="url"
            name="url"
            class="neon url-tag"
            placeholder="Enter Website Link"
          />
        </div>
        <div class="text">
          <div class="input-text">
            <label for="input" class="input-label">Enter Text</label>
            <textarea
              name="input"
              id="input"
              cols="60"
              rows="15"
              class="neon textarea"
              placeholder="Enter Input Text"
            >
            {{input_data}}</textarea
            >
          </div>
          <div class="output-text">
            <label for="output" class="output-label">Output Summary</label>
            <textarea
              name="output"
              id="output"
              cols="60"
              rows="15"
              class="neon textarea"
              placeholder="output Text"
            >
            {{output_data}}</textarea
            >
          </div>
        </div>
        <div class="submit">
          <input type="submit" value="SUBMIT" class="neon button submit" />
        </div>
      </form>
    </div>
    <script
      src="https://kit.fontawesome.com/8fe1453288.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
